/*p{font-family: 'Montserrat Alternates', sans-serif;}

h1{font-family: 'Kufam', cursive;}  font-family: 'Montserrat Alternates', sans-serif;text-transform: uppercase;}*/

*{margin: 0;padding: 0;box-sizing: border-box;}



main{width:100%;margin: auto;background: ;}

h1,h2,h3{font-family: 'Kufam', cursive;color:#064F5C;}

p,a,figcaption{font-family: 'Montserrat Alternates', sans-serif;font-weight: bold;}


#load1{width: 100%;height: 100vh;display: flex;justify-content: center;align-items: center;visibility: hidden;}

header{width: 100%;height:555px;background-image: url(capa6.jpg);background-size:cover;background-position: center;background-attachment: fixed;}

#textoHeader{padding:0px 50px;color: #fff;font-size:30pt;padding-top: 200px;}
#textoHeader2{margin-left:4%;color: #FFF;}

#blocoChamada{width: 100%;height: 250px;margin-top:100px;clear: both;}

#textoChamada{text-align:center;padding:50px 20px;color: #333;font-family: 'Montserrat Alternates', sans-serif;line-height: 2;text-shadow: 2px 3px  3px #fff;background: #eeeeee;width: 100%;margin:0px;}

#menuzinho{display: none;}
#btnFechar{display: none;}

#filtro_header{width:100%;height:555px;background:rgba(2,2,2,0.3);}

nav{width: 100%;height:50px;background:linear-gradient(to left, #129EBC,#FFF);position: fixed;top: 0;z-index: 2;}

nav ul{display: flex;margin-left:55%;}

nav li{list-style: none;color: #FFF;line-height:50px;margin-left:30px;padding: 0px 15px;font-size: 12pt;}

nav a{text-decoration: none;}

nav li:hover{background-color: #FFF;color: #000;font-weight: bold;transition: 0.5s;}


#logo{font-size: 18pt;color:#064F5C;line-height:48px;margin-left:8%;float: left;}

#logo2{width: 3%;margin: 5px;position: absolute;}

#logo2{filter: drop-shadow(2px 4px 1px #129EBC);}

#textLog{font-family: 'Kufam', cursive;font-weight: bold;font-size:25pt;}
#lorem{font-family: cursive;font-weight: bold;font-size:18pt;}

#blocoTitulo{width: 100%;height: 100px;padding:15px;}

#tituloPrincipal{font-size:30pt;border-left: 5px solid #129EBC;padding:0px 5px;}

#tituloPrincipal{margin-left: 5%;}

#textoTitulo{margin-left: 6%;}

#perfilSol{width:65%;height:250px;margin:50px auto;display: flex;border-bottom: 1px solid #dddddd;padding-bottom: 50px;}

#perfilSol > p{margin-top:80px;}

#foto{width:20%;border-radius:150px;margin:1% 5%;}

#zap{position: absolute;width:10%;height:5%;margin:9% -13%;cursor: pointer;border: none;background: #23D823;color: #FFF;border-radius: 100px;}

#zap:hover{background: #000;transition: 0.5s;}

#nome{text-align: center;color: #FFF;line-height: 120px;font-size: 35pt;text-shadow: -2px 3px 5px #FFF;background:rgba(0, 0, 0, 0.4);height: 120px;text-transform: capitalize;}

#creci{text-align: center;color: #fff;font-size: 14pt;font-weight: bold}

article,aside{background: #f4f4f4;}

article{width:65%;height:;margin-top:150px;margin-left:2%;border: 1px solid #eeeeee;float: left;border-top-left-radius: 25px;}

aside{width:28%;height:px;float:right;margin-top:150px;margin-right:2%;border: 1px solid #eeeeee;margin-bottom: 50px;border-top-right-radius: 25px;}

.textoBox{padding:25px 40px;font-weight: bold;line-height: 35px;margin-left:42%;font-size: 12pt;}


#textoBoxAside{padding:70px 0px;font-weight: bold;line-height:22px;margin-left:15%;width:80%;font-size:11pt;}

#textoBoxAside2{padding:110px 0px;font-weight: bold;line-height:22px;margin-left:5%;width:75%;font-size:11pt;color: #FFF}

#textoBoxAside3{padding:80px 0px;font-weight: bold;line-height:22px;margin-left:45%;width:50%;font-size:11pt;}

#textoBoxAside4{padding:110px 20px;width:60%;}

/*imagem article----*/

#imagem1{width:42%;height: 540px;background-image:url(casa.jpg);margin: 20px 2%;float: left;background-size: cover;background-position: center;border-top-right-radius: 25px}



#imagem1 > p{text-align: center;color: #f4f4f4;padding:150px 10px;font-size: 16pt;}

#simulado{color: red;font-size: 15pt;font-weight: bold;font-family: 'Kufam', cursive;}

#legenda1{color: #000;font-weight: bold;margin-left:43%;font-family:10pt;}

article >  h2{font-weight: bold;margin-left:47%;margin-top:100px;font-size: 25pt}

/*imagem aside--------*/

.img-aside{width:90%;height:250px;margin: 31px auto;border-top-right-radius: 25px;background-image: url(img1.jpg);background-size: cover;background-position: center;}

 .img-aside:nth-child(2){background-image: url(img3.jpg);}

 .img-aside:nth-child(3){background-image: url(img4.jpg);}

 .img-aside:nth-child(4){background-image: url(image2.jpg);}

 .img-aside:nth-child(5){background-image: url(image3.jpg);}

 .img-aside:nth-child(6){background-image: url(image4.jpg);}

 .filter_Aside{width:100%;height: 250px;background: rgba(0, 0, 0, 0.0);border-top-right-radius: 25px}

#boxLinks{display: flex;width:100%;height: 50px;background:linear-gradient(to left,#226A7F,#41BCD2);justify-content: space-evenly;margin-top: 150px;}
.links{line-height: 50px;}
.links > a{text-decoration: none;color: #FFF}

.links a:hover{text-decoration: underline;font-weight: bolder;} 

#condicoes{width: 100%;height:250px;display: flex;justify-content: space-evenly;}

.boxCondicoes{width:30%;height: 200px;border: 1px solid #dddddd;margin-top:70px;cursor: pointer;padding:35px;border-top-right-radius: 25px;border-bottom-left-radius:25px ;background: #FFF;}

.boxCondicoes:hover{margin-top:60px;transition: 0.5s;background:linear-gradient(#0CA894,#36707B);color:#FFF;}

.boxCondicoes:hover > h2{color: #FFF}

.boxCondicoes > h2{text-align:;font-size:13pt;}
.boxCondicoes > p{text-align:;font-size:12pt;}

#divisaVideo{width: 100%;border: 1px solid #fff;margin: 100px 0px;}

#dados > h2{margin-left: 6%;color:#999}

table{width:94%;height:300px;margin:30px auto;padding: 10px;background: #FFF;box-shadow: 2px 3px 5px #ccc;}

td{font-family: 'Montserrat Alternates', sans-serif;font-weight: bold;border-bottom: 1px solid #ccc;padding:15px;color: #444;}

.porcento{text-align: center;background:#36707B;color:#FFF;}

#renda{width:94%;height: 250px;display: flex;margin: 50px auto;justify-content:flex-center;flex-direction: column;align-items: center;text-align:center;padding:20px 0px;box-shadow: 2px 3px 5px #ccc;background: #FFF;border-radius: 5px;}

#renda > h2{padding-top: 10px;color:#007bff;}

#renda > p{padding: 15px;width:78%;color: #444;}

#money{width:70px;height:70px;}



#video{width:100%;height: 500px;}

#filtro_footer{}

footer{}

#autorais{width: 100%;height:100px;background:#f4f4f4;color: #333;}

#autorais > p{line-height:100px;text-align: center;font-size: 10pt;font-family: 'Montserrat Alternates', sans-serif;}



/*MOBILE--------------------------------*/



@media(min-width:320px) and (max-width: 767px){

      #logo2{width:7%;margin: 5px;position: absolute;}
    

      #menuzinho{position: absolute;display: block;width:10%;margin-left:85%;margin-top:9px;cursor: pointer;}
      #btnFechar{position: absolute;display: block;font-size:28pt;margin-left:87%;margin-top:5px;cursor: pointer;color: #FFF;visibility: hidden;}

      #btnFechar:hover{text-shadow: 2px 3px 4px #FFF;}
      
      nav ul{display:block;margin-left:0%;background:#000;position: absolute;width:70%;margin-top:51px;transform: translateX(-100%);height:100vh;z-index: 2;}

      nav li{padding:15px 0px;}

      nav ul li:hover{color: #FFF;text-decoration: overline;background: transparent;}

      #filtro_header{width:100%;height:555px}

      header{background-position:center;background-size: cover;height:555px;width: 100%;}

      #textoHeader{padding:0px 10px;color: #fff;font-size:20pt;padding-top:170px;}

      #blocoChamada{margin-bottom: 100px;margin-top: 50px;}

      #textoChamada{font-size:10pt;text-align: justify;}

     #blocoTitulo{width: 100%;height:120px;}

     #tituloPrincipal{font-size:24pt;margin-left: 1%;}

     #textoTitulo{font-size:10pt;width:100%;margin-left:1%;padding:5px;}

     #imagem1{width:95%;float:none;padding-top:70px;height: 500px}

     #imagem1 > p{text-align:left;color: #f4f4f4;padding:30px 15px;font-size:16pt;}


     #boxLinks{display: flex;flex-direction: column;width:100%;height:100%;background:linear-gradient(to left,#226A7F,#41BCD2);justify-content:center;margin-top: 100px;text-align: center;}


     #condicoes{width: 100%;height:700px;display: flex;flex-direction: column;justify-content:center;}

     .boxCondicoes{width:90%;height: 200px;border: 1px solid #ccc;margin:10px auto;}

     .boxCondicoes:hover{margin-top:1px;}
     
      #perfilSol{width:65%;height:400px;flex-direction: column;justify-content: center;align-items: center;}

      #foto{width:80%;border-radius:150px;display: block;margin:0 auto;}

      #perfilSol > p{margin-top:10px;text-align: center;}

      #zap{position:relative;width:100%;height:30px;margin:15px auto;padding:0px 25px;}

      #nome{font-size:18pt;height:80px;line-height: 80px;}

      article,aside{float: none;width: 98%;height:100%;margin:50px auto;background: #FFF;}

      aside{margin-bottom: 50px;}
      

      article >  h2{margin-left:5%;margin-top:5px;font-size:15pt;}       

      .textoBox{padding:20px;width:100%;margin: 0;}   

      #divisaVideo{width: 100%;border: 1px solid #dddddd;margin:50px 0px;} 

      #autorais > p{font-size: 8pt;}

      /*Aside---------------------------*/

      #textoBoxAside3{width:60%}

      #textoBoxAside4{padding:80px 20px;}
}

@media(min-width:367px) and (max-width:480px){

      #logo2{width:7%;margin:3px;position: absolute;}

      #menuzinho{margin-top:7px;}

}      



@media(min-width: 480px){

      #menuzinho{width:9%;margin-left:88%;}

}





@media(min-width:500px) and (max-width: 700px){

      
      #btnFechar{margin-left:89%;}

      #textoChamada{font-size: 12pt;}

}

@media(min-width:700px){
   
   #menuzinho{width:7%;margin-left:88%;}

}


@media(min-width:768px) and (max-width:960px){

      #logo{font-size: 18pt;color:#064F5C;line-height:48px;margin-left:2%;float: left;}


      nav ul{display: flex;margin-left:39%;}

      nav li{font-size:10pt;}

      #textoChamada{font-size:14pt;}

      #imagem1{width:56%;margin: 20px 2%;float: left;}

      article{width: 70%;height:px;}

      aside{width: 24%;height:1935px;}

      article >  h2{margin-top:30px;font-size:16pt}

      .img-aside{width:100%;margin-top:200px;}

      .textoBox{padding:15px 40px;line-height:15px;font-size:10pt;}

      .textoBox2{padding:10px;font-weight: bold;line-height:15px;margin-left:0%;width:100%;font-size: 10pt;}

      #textoHeader2{margin-left:7%;color: #FFF;}

      #condicoes{height:px;}

      .boxCondicoes{width:170px;}

      .boxCondicoes > h2{text-align:left;font-size:9pt;}

      .boxCondicoes > p{text-align:;font-size:9pt;padding-top:5px;}


      #perfilSol{width:65%;height:150px}

      #perfilSol > p{margin-top:40px;text-align: center;}

      #zap{position:absolute;width:20%;height:30px;margin-top:75px;padding:0px 25px;left:53%;}
}


@media(min-width:966px) and (max-width: 1024px){



      header{height:555px}
       
       nav ul{margin-left:50%;}

      nav li{font-size:11pt;}

      #textoHeader{padding-top:200px;font-size:25pt;}

      #textoHeader2{margin-left:5%;}

      article{height:px}

      aside{height: 1740px;}

      article >  h2{margin-top:40px;font-size:20pt}

      .textoBox{padding:15px 40px;line-height:15px;font-size:10pt;}

      .boxCondicoes > h2{text-align:left;font-size:10pt;}

      .boxCondicoes > p{text-align:;font-size:9pt;padding-top:5px;}

      #perfilSol{width:65%;height:200px;}

      #foto{width:15%;height: 100px;border-radius:150px;margin:5%;display: block;margin-left:22%;}

      #perfilSol > p{margin-top:60px;text-align: left;margin-left:0%;}

      #zap{height:30px;margin-top:100px;padding:0px 15px;left:63%;}

}




